p {
  font-family: "Zilla Slab", "Roboto", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height:150%;
}

pre, code, pre > code {
    font-family: 'Fira Code', 'Andale Mono', monospace;
    font-size: .95em;
}

code {
    padding: 2px 1px;
    font-size: 85%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: 'Fira Code','Andale Mono',monospace;
}

.figure img {
  border: 1px solid #DDD;
  box-shadow: 1px 1px 10px #DDD;
}
